* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  font-size: 12px;
}

.Application {
  height: 100%;

  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.ActionDropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ActionDropdown-action {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px grey;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  cursor: pointer;
  user-select: none;
}
